<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="header :: headercss"></div>

    <body>
        <section id="container">
            <!-- **********************************************************************************************************************************************************
                TOP BAR CONTENT & NOTIFICATIONS
                *********************************************************************************************************************************************************** -->
            <div th:replace="header :: header"></div>
            <!-- **********************************************************************************************************************************************************
                MAIN SIDEBAR MENU
                *********************************************************************************************************************************************************** -->
            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu" id="nav-accordion">
                        <p class="centered"><a href="dist/profile.html"><img src="dist/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
                        <h5 class="centered">Admin</h5>
                        <li class="mt">
                            <a href="adm_dash">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a class="active" href="javascript:;">
                                <i class="fa fa-th"></i>
                                <span>Data Master</span>
                            </a>
                            <ul class="sub">
                                <li><a href="data_employee">Employee</a></li>
                                <li><a href="data_account">Account</a></li>
                                <li><a href="data_job">Job</a></li>
                                <li class="active"><a href="data_overtime_type">Overtime Type</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-clock-o"></i>
                                <span>Data Transaction</span>
                            </a>
                            <ul class="sub">
                                <li><a href="data_employee_job">Job&Role</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
            <!-- **********************************************************************************************************************************************************
                MAIN CONTENT
                *********************************************************************************************************************************************************** -->
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <h3><i class="fa fa-angle-right"></i> Table Overtime Type</h3>
                    <div class="row mb">
                        <!-- page start-->
                        <div class="content-panel">
                            &nbsp;<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Data</button><br><br>

                            <div class="adv-table">
                                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Percentage</th>
                                            <th>Is Delete</th>
                                            <th class="hidden-phone" width="18%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="Type:${dataOvertimeType}">
                                            <td  id="id" th:text="${Type.id}"></td>
                                            <td id="name" th:text="${Type.name}"></td>
                                            <td id="percentage" th:text="${Type.percentage}"></td>
                                            <td id="isDelete" th:text="${Type.isDelete}"></td>
                                            <td class="center hidden-phone">
                                                <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#editTypeModal"><i class="fa fa-edit"></i>
                                                    Edit</button>
                                                <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteTypeModal"><i class="fa fa-edit"></i>
                                                    Delete</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- page end-->
                    </div>
                    <!-- /row -->
                </section>
                <!-- /wrapper -->
            </section>
            <!-- /MAIN CONTENT -->
            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer">
                <div class="text-center">
                    <p>
                        &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
                    </p>
                    <div class="credits">
                        <!--
                          You are NOT allowed to delete the credit link to TemplateMag with free version.
                          You can delete the credit link only if you bought the pro version.
                          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                          Licensing information: https://templatemag.com/license/
                        -->
                        Created with Dashio template by <a href="dist/https://templatemag.com/">TemplateMag</a>
                    </div>
                    <a href="dist/advanced_table.html#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>

        <!-- Modal Add -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add Type</h4>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/overtime_type_save}" class="form-horizontal style-form" method="post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Percentage</label>
                                <div class="col-sm-10">
                                    <input type="number" step="any" name="percentage" id="percentage" class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal End-->

        <!-- Modal Edit -->
        <div class="modal fade" id="editTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit Type</h4>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/overtime_type_edit/id}" class="form-horizontal style-form" method="post">
                            <div class="form-group">
                                <label for="id" class="col-sm-2 control-label">Job ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id" name="id" placeholder="Type ID" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Percentage</label>
                                <div class="col-sm-10">
                                    <input type="number" step="any" id="percentage" name="percentage" class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal End-->

        <!-- Modal Delete -->
        <div class="modal fade" id="deleteTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Delete Type</h4>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/overtime_type_delete/id}" class="form-horizontal style-form" method="post">
                            <p>Are you sure delete?</p>
                            <div class="row">
                                <label class="col-xs-1 control-label">ID</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="id" name="id" placeholder="Type ID" readonly>
                                </div>
                                <label class="col-xs-1 control-label">Type</label>
                                <div class="col-xs-3">
                                    <input type="text" id="name" name="name" class="form-control" readonly>
                                </div>
                                <div class="col-sm-10">
                                    <input type="hidden" step="any" id="percentage" name="percentage" class="form-control" readonly="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal End-->

        <div th:replace="footer :: footer"></div>
    </body>

</html>
