<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headercss">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="Dashboard">
            <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
            <title>Overtime Application</title>

            <!-- Favicons -->
            <link href="dist/img/money.png" rel="icon">
            <link href="dist/img/apple-touch-icon.png" rel="apple-touch-icon">

            <!-- Bootstrap core CSS -->
            <link href="dist/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!--external css-->
            <link href="dist/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="dist/css/zabuto_calendar.css">
            <link rel="stylesheet" type="text/css" href="dist/lib/gritter/css/jquery.gritter.css" />


            <link href="dist/lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
            <link href="dist/lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
            <link rel="stylesheet" href="dist/lib/advanced-datatable/css/DT_bootstrap.css" />

            <link rel="stylesheet" type="text/css" href="dist/lib/bootstrap-fileupload/bootstrap-fileupload.css" />
            <link rel="stylesheet" type="text/css" href="dist/lib/bootstrap-datepicker/css/datepicker.css" />
            <link rel="stylesheet" type="text/css" href="dist/lib/bootstrap-daterangepicker/daterangepicker.css" />
            <link rel="stylesheet" type="text/css" href="dist/lib/bootstrap-timepicker/compiled/timepicker.css" />
            <link rel="stylesheet" type="text/css" href="dist/lib/bootstrap-datetimepicker/datertimepicker.css" />

            <!-- Custom styles for this template -->
            <link href="dist/css/style.css" rel="stylesheet">
            <link href="dist/css/style-responsive.css" rel="stylesheet">
          
            <!-- =======================================================
              Template Name: Dashio
              Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
              Author: TemplateMag.com
              License: https://templatemag.com/license/
            ======================================================= -->
        </head>
    </div>

    <div th:fragment="header">
        <section id="container">
            <!-- **********************************************************************************************************************************************************
                TOP BAR CONTENT & NOTIFICATIONS
                *********************************************************************************************************************************************************** -->
            <!--header start-->
            <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
                <!--logo start-->
                <a href="dist/index.html" class="logo"><b>ADM<span>IN</span></b></a>
                <!--logo end-->
                <div class="nav notify-row" id="top_menu">
                    <!--untuk spasi saja-->
                </div>
                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </header>
            <!--header end-->
    </div>
</html>
