<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar">
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a href="dist/profile.html"><img src="dist/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
                    <h5 class="centered">Gede</h5>
                    <li class="mt">
                        <a href="/">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a class="sub-menu-item" href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>Data Master</span>
                        </a>
                        <ul class="sub">
                            <li class="sub-item"><a href="data_employee">Employee</a></li>
                            <li class="sub-item"><a href="data_account">Account</a></li>
                            <li class="sub-item"><a href="data_job">Job</a></li>
                            <li class="sub-item"><a href="data_overtime_type">Overtime Type</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="sub-menu-item" href="javascript:;">
                            <i class="fa fa-clock-o"></i>
                            <span>Data Transaction</span>
                        </a>
                        <ul class="sub">
                            <li class="sub-item"><a href="data_employee_job">Employee Job</a></li>
                            <li class="sub-item"><a href="data_employee_role">Employee Role</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="sub-menu-item" href="javascript:;">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Overtime Request</span>
                        </a>
                        <ul class="sub">
                            <li class="sub-item"><a href="data">Employee Job</a></li>
                            <li class="sub-item"><a href="data">Employee Role</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="sub-menu-item" href="javascript:;">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>Overtime Approval</span>
                        </a>
                        <ul class="sub">
                            <li class="sub-item"><a href="data">Employee Job</a></li>
                            <li class="sub-item"><a href="data">Employee Role</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    </div>
</html>>
